h4 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 600;
}
a {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 300;
}

.image-card {
	height: 0;
  width: 100%;
  padding-top: 100%;
  min-height: 20rem;
}

.is-active:before {
	content:"";
	position: absolute;
  width: 10px;
  height: 20px;
  background-color: white;
  left: -10px;
  top: 10px;
}

.nav-menu {
	width: 100%;
	max-width: 340px;
}

.logo-main {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 300;
}

.content {
	padding-left: 340px;
}

.timeline:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: -20px;
  left: 50%;
  width: 1px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.education-wrapper:nth-child(odd) {
	left: 50%;
}

.education-wrapper:nth-child(even) {
	text-align: right;
	padding-right: 40px;
}

.experience {
	background-color: #56aec6;
}
