h4 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 600;
}
a {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 100;
}

h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 100;
}

.image-card {
	height: 0;
  width: 100%;
  padding-top: 100%;
  min-height: 20rem;
}

.is-active:before {
	content:"";
	position: absolute;
  width: 10px;
  height: 20px;
  background-color: white;
  left: -10px;
  top: 10px;
}

.nav-menu {
	width: 100%;
	max-width: 340px;
}

.logo-main {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 100;
}

.content {
	padding-left: 340px;
}
